<!DOCTYPE html>
<html lang="en">

<head>
    <include file="public:head" />
    <link rel="stylesheet" href="__CSS__/culture.css">
</head>

<body>

    <include file="public:head_menu" />

    <div class="rw">
        <include file="public:head_min_menu" />
        </div>
        <div class="culture">
            <div class="culture_box">
                <div class="culture_strength">
                    <div class="strength_title">
                        实力锐堃
                    </div>
                    <div class="strength_hd">
                        中国锐堃集团始于1988年，在近30年的发展中，始终秉承“汇聚科技精华，缔造百年锐堃”的企业愿景，走过了“科技促腾飞、品牌创优势、合作促发展”三部曲，正在步入一个崭新的发展阶段。
                    </div>
                    <div class="strength_main">
                        <div class="strength_main_lt fl">
                            <div class="strength_main_lt_a">
                                <img src="__IMG__/backend-picture/wenhua1.jpg" alt="">
                            </div>
                            <div class="strength_main_lt_b">
                                <div class="strength_main_lt_b1">锐堃集团</div>
                                <div class="strength_main_lt_b2">
                                    汇聚科技精华，缔造百年锐堃。在近30年的发展中，锐堃集团励精图治， 开拓进取，走过了“科技促腾飞、品牌创优势、合作促发展”三部曲.
                                </div>
                            </div>
                        </div>
                        <div class="strength_main_rt fr">
                            <div style='background: url("__IMG__/backend-picture/cb537385b2cc6116a712bbae21cb29e3.png") no-repeat center center;' class="strength_main_rt_a">
                                <span style="z-index: 11">地产集团</span>
                                <div style="position: absolute;top: 0;width: 100% ;height: 100%;background: rgba(0,0,0,0.4)"></div>
                            </div>
                            <div style='background: url("__IMG__/backend-picture/18c30597b960d45f0377b56947f53534.png") no-repeat center center;' class="strength_main_rt_b">
                                <span style="z-index: 11">化工集团</span>
                                <div style="position: absolute;top: 0;width: 100% ;height: 100%;background: rgba(0,0,0,0.4)"></div>
                            </div>
                        </div>
                    </div>
                    <div class="strength_list">
                        <ul class="clearfix">
                            <li class="col-lg-4 col-md-4 tc1">
                                <div class="strength_list_a">石化集团</div>
                                <div class="strength_list_b">
                                    <img src="__IMG__/backend-picture/98ff95b71aa2b258d708007901213b23.png" alt="">
                                </div>
                            </li>
                            <li class="col-lg-4 col-md-4 tc1">
                                <div class="strength_list_a">橡胶集团</div>
                                <div class="strength_list_b">
                                    <img src="__IMG__/backend-picture/b8cecc7dccb53a6274e431262065e45a.png" alt="">
                                </div>
                            </li>
                            <li class="col-lg-4 col-md-4 tc1">
                                <div class="strength_list_a">电缆集团</div>
                                <div class="strength_list_b">
                                    <img src="__IMG__/backend-picture/01238ac0bd373f432f75751cb7cd0be1.png" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="culture_charm">
                    <div class="charm_title">
                        魅力锐堃
                    </div>
                    <div class="charm_hd">
                        中国锐堃是所有锐堃人共同的家。我们为每一位员工提供系统培训学习的机会，创造实现自我价值的舞台，使员工的工作技能和综合素质全面提升。 </div>
                    <div class="charm_list">
                        <ul class="clearfix">
                            <li class="col-lg-4 col-md-4 tc1">
                                <div class="charm_list_a">
                                    <img src="__IMG__/backend-picture/6bb43753a0aa49f28db84d4ef9e612fc.png" alt="">
                                </div>
                                <div class="charm_list_b">
                                    铿锵玫瑰 </div>
                            </li>
                            <li class="col-lg-4 col-md-4 tc1">
                                <div class="charm_list_a">
                                    <img src="__IMG__/backend-picture/131165af4d6bdfb2ef3e40d29e6ac69b.png" alt="">
                                </div>
                                <div class="charm_list_b">
                                    爱心传递 </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="culture_charm culture_dynamic">
                    <div class="charm_title">
                        活力锐堃
                    </div>
                    <div class="charm_hd">
                        中国锐堃集团坚持“以人为本”的发展理念，视员工为企业最宝贵的财富。组织各种形式的运动比赛、拓展训练、技能比武、节日汇演等文体活动，丰富员工的业余生活，促进每一位员工的身心健康发展。 </div>
                    <div class="charm_list">
                        <ul class="clearfix" id="ajax_load_con">
                            <li class="col-lg-4 col-md-4 tc1">
                                <div class="charm_list_a">
                                    <img src="__IMG__/backend-picture/340479c30aedb6d9c38406277a1ed228.JPG" alt="">
                                </div>
                                <div class="charm_list_b dynamic_list_b">
                                    锐堃·暖活动专场演出 </div>
                            </li>
                            <li class="col-lg-4 col-md-4 tc1">
                                <div class="charm_list_a">
                                    <img src="__IMG__/backend-picture/ec1d4d52ebcede202bb7b31203eea7d5.JPG" alt="">
                                </div>
                                <div class="charm_list_b dynamic_list_b">
                                    2009 拓展训练 </div>
                            </li>
                            <li class="col-lg-4 col-md-4 tc1">
                                <div class="charm_list_a">
                                    <img src="__IMG__/backend-picture/36887e7554fc930cd0217baea7597c2c.png" alt="">
                                </div>
                                <div class="charm_list_b dynamic_list_b">
                                    “中国锐堃杯”2008年全民健身月 </div>
                            </li>
                            <li class="col-lg-4 col-md-4 tc1">
                                <div class="charm_list_a">
                                    <img src="__IMG__/backend-picture/85ea018f8bbf94ee67c99382e55e334d.png" alt="">
                                </div>
                                <div class="charm_list_b dynamic_list_b">
                                    锐堃集团员工才艺大赛 </div>
                            </li>
                        </ul>
                    </div>
                    <div class="dynamic_more" id="load_more_handle" data-page="2">
                        <img src="__IMG__/front-end-picture/dynamic_more.png" alt=""><span>查看更多</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <include file="public:footer" />

</body>

</html>