<!DOCTYPE html>
<html lang="en">

<head>
    <include file="public:head" />
    <link rel="stylesheet" href="__CSS__/innovate.css">
</head>

<body>
    <include file="public:head_menu" />
    <div class="rw">
        <include file="public:head_min_menu" />
        <div class="innovate">
            <div class="innovate_box">
                <div class="innovate_a">
                    <div class="innovate_a_title">
                        领先的科研平台，强大的技术实力
                    </div>
                    <div class="innovate_a_one">
                        目前，集团拥有国家级企业技术中心、国家级博士后科研工作站和三个国家级实验室，十余个项目分部被列入国家星火计划、国家火炬计划和国家高技术产业化示范工程。
                    </div>
                    <div class="innovate_a_two">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="__IMG__/backend-picture/ys1.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="__IMG__/backend-picture/ys1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="innovate_a_three">
                        <div class="innovate_a_three_lt fl slideInLeft animated">
                            <a href="" class="innovate_link">
                                <div class="in_lt_a">
                                    <div class="in_lt_a1 fl">
                                        <div class="in_a11">
                                            <img src="__IMG__/front-end-picture/ys_icon1.png" alt="">
                                        </div>
                                        <div class="in_a22">
                                            国家级企业技术中心
                                        </div>
                                    </div>
                                    <div class="in_lt_a2 fl">
                                        锐堃集团国家级企业技术中心 成立于2008年10月，目前拥 有科研人员600余人，专业技 术人员300余人。
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="innovate_a_three_rt fr slideInRight animated" style="visibility: visible; animation-name: slideInRight;">
                            <div class="in_lt_b">
                                <a target="_blank" href="###">
                                    <div class="in_lt_b1">
                                        <div class="in_lt_b1_one">
                                            <img src="__IMG__/front-end-picture/sh1.png" alt="">
                                        </div>
                                        <div class="in_lt_b1_two">
                                            石化实验室
                                        </div>
                                        <div class="in_lt_b1_three">
                                            2012年组建成立，现有人员 80余人，大专以上学历达到96%，其中工程师、高级技师、技师各1人，化学检验工三级24人，化学检验工四级40人。
                                        </div>
                                    </div>
                                </a>
                                <a target="_blank" href="###">
                                    <div class="in_lt_b1">
                                        <div class="in_lt_b1_one">
                                            <img src="__IMG__/front-end-picture/lt1.png" alt="">
                                        </div>
                                        <div class="in_lt_b1_two">
                                            轮胎实验室
                                        </div>
                                        <div class="in_lt_b1_three">
                                            2004年9月成立，现有员工28人，设有物理检测室、化学检测室、成品检测室、成品检测2室、办公室共五个部室，总投资5000多万元。
                                        </div>
                                    </div>
                                </a>
                                <a target="_blank" href="###">
                                    <div class="in_lt_b1 in_lt_b2">
                                        <div class="in_lt_b1_one">
                                            <img src="__IMG__/front-end-picture/th1.png" alt="">
                                        </div>
                                        <div class="in_lt_b1_two">
                                            炭黑实验室
                                        </div>
                                        <div class="in_lt_b1_three">
                                            2010年成立，现有工作人员40人，其中管理人员8人，工程师5人，专业技术人员25人。实验室占地800平方米，其中试验场地600平方米。固定资产及仪器设备达1000万元，主要设备仪器80多套。
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="innovate_b">
                    <div class="innovate_b_title">
                        专利证书
                    </div>
                    <div class="zs_tab">
                        <ul class="clearfix">
                            <li class="tab_active">
                                <span>化工</span>
                            </li>
                            <li>
                                <span>轮胎</span>
                            </li>
                            <li>
                                <span>电缆</span>
                            </li>
                            <li>
                                <span>炭黑</span>
                            </li>
                            <li>
                                <span>石化</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--第一个tabs-->
            <div class="zs_tabs" style="display: block;">
                <div class="zs_tabs_lt fl ">
                    <div class="zs_tabs_box">
                        <div class="zs_tabs_lt_a">
                            <img src="__IMG__/backend-picture/4fd7d7a6162f0fa54bebaab882f66ddf.jpg" alt="">
                        </div>
                        <div class="zs_tabs_lt_b">
                            BT125外观设计专利证书
                        </div>
                    </div>
                </div>
                <div class="zs_tabs_rt fr">
                    <div class="zs_tabs_rt_a">
                        化工
                    </div>
                    <div class="zs_tabs_rt_b">
                        山东锐堃化工有限公司注重产品研发和技术保护，积极开展专利申请工作，现有各类有效专利证书5件。
                    </div>
                    <div class="zs_tabs_rt_c">
                        <ul class="clearfix">
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/4fd7d7a6162f0fa54bebaab882f66ddf.jpg" src="__IMG__/backend-picture/4fd7d7a6162f0fa54bebaab882f66ddf.jpg" alt="一种顺丁橡胶聚合釜">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/5311d86f2f366dadcd75a84fb0f6954d.jpg" src="__IMG__/backend-picture/5311d86f2f366dadcd75a84fb0f6954d.jpg" alt="一种聚酰亚胺薄膜双向拉伸机">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/728a61ed5e862879379b248cb81d71ba.jpg" src="__IMG__/backend-picture/728a61ed5e862879379b248cb81d71ba.jpg" alt="一种聚丁二烯橡胶凝聚回收碱洗系统">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/d7c2698f0166b9d927db4efaa5dec3e0.jpg" src="__IMG__/backend-picture/d7c2698f0166b9d927db4efaa5dec3e0.jpg" alt="一种MBS树脂生产中的升温进料装置">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/dfc6b6e690516c1407e040381542d6cb.jpg" src="__IMG__/backend-picture/dfc6b6e690516c1407e040381542d6cb.jpg" alt="大型球罐的负压惰性气体置换方法">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--第二个tabs-->
            <div class="zs_tabs">
                <div class="zs_tabs_lt fl ">
                    <div class="zs_tabs_box">
                        <div class="zs_tabs_lt_a">
                            <img src="__IMG__/backend-picture/zs1.jpg" alt="">
                        </div>
                        <div class="zs_tabs_lt_b">
                            BT125外观设计专利证书
                        </div>
                    </div>
                </div>
                <div class="zs_tabs_rt fr">
                    <div class="zs_tabs_rt_a">
                        轮胎
                    </div>
                    <div class="zs_tabs_rt_b">
                        山东锐堃宝通轮胎有限公司注重产品研发和技术保护，积极开展专利申请工作，现有各类有效专利证书83件。
                    </div>
                    <div class="zs_tabs_rt_c">
                        <ul class="clearfix">
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/7d9e0e709622873b060128589d3fd7d2.jpg" src="__IMG__/backend-picture/7d9e0e709622873b060128589d3fd7d2.jpg" alt="一种压延机磁力卷轴">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/9591e7c27bb6b2e30440ddcf3d65314f.jpg" src="__IMG__/backend-picture/9591e7c27bb6b2e30440ddcf3d65314f.jpg" alt="一种轮胎模具快速拆装装具">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/a9a407d5e5d5924ae0072d5d770c7a6b.jpg" src="__IMG__/backend-picture/a9a407d5e5d5924ae0072d5d770c7a6b.jpg" alt="一种具有溢胶槽的轮胎模具">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/783c398da355fe90c914519c9ea9974b.jpg" src="__IMG__/backend-picture/783c398da355fe90c914519c9ea9974b.jpg" alt="一种储料控制装置">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/044b30585e768e9e8fedc2a00e7d6230.jpg" src="__IMG__/backend-picture/044b30585e768e9e8fedc2a00e7d6230.jpg" alt="一种安全、快速更换轮胎模具侧板字块装置">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/c7da68dc839ef53c1d5779ff8b36f042.jpg" src="__IMG__/backend-picture/c7da68dc839ef53c1d5779ff8b36f042.jpg" alt="旋转式轮胎侧板工装">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/44ee50c0abc133af8835f14616a39b10.jpg" src="__IMG__/backend-picture/44ee50c0abc133af8835f14616a39b10.jpg" alt="WV11外观设计专利证书">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/73b5f763591b1632c9efffd53120c273.jpg" src="__IMG__/backend-picture/73b5f763591b1632c9efffd53120c273.jpg" alt="WP19外观设计专利证书">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/d8f43284c15473f85f51be50fbf33710.jpg" src="__IMG__/backend-picture/d8f43284c15473f85f51be50fbf33710.jpg" alt="WH18外观设计专利证书">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/a95529d59018f4c7f5eeb33fc7f82850.jpg" src="__IMG__/backend-picture/a95529d59018f4c7f5eeb33fc7f82850.jpg" alt="WH15外观设计专利证书">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/9b6a27a697b98afe7f83ceb726ef48d6.jpg" src="__IMG__/backend-picture/9b6a27a697b98afe7f83ceb726ef48d6.jpg" alt="WA80+外观设计专利证书">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/763b61c7f7bee5963677b225491cf16f.jpg" src="__IMG__/backend-picture/763b61c7f7bee5963677b225491cf16f.jpg" alt="BT398N外观设计专利证书">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/35f63cca83104f1194e7b5cc705e9afc.jpg" src="__IMG__/backend-picture/35f63cca83104f1194e7b5cc705e9afc.jpg" alt="BT266N外观设计专利证书">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/838ef3ada06625081fe1003cb0704742.jpg" src="__IMG__/backend-picture/838ef3ada06625081fe1003cb0704742.jpg" alt="BT219外观设计专利证书">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/a81ee27b4a0ff5bff3e5f4d647639da0.jpg" src="__IMG__/backend-picture/a81ee27b4a0ff5bff3e5f4d647639da0.jpg" alt="BT215外观设计专利证书">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/18026fb2538225a38e1c20a27be200fc.jpg" src="__IMG__/backend-picture/18026fb2538225a38e1c20a27be200fc.jpg" alt="BT157外观设计专利证书">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/a3795d28e3d5c1c8dde241a017c63867.jpg" src="__IMG__/backend-picture/a3795d28e3d5c1c8dde241a017c63867.jpg" alt="BT125外观设计专利证书">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/798707d90cc7f22f5701594a9c70737c.jpg" src="__IMG__/backend-picture/798707d90cc7f22f5701594a9c70737c.jpg" alt="BT122外观设计专利证书">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--第三个tabs-->
            <div class="zs_tabs">
                <div class="zs_tabs_lt fl">
                    <div class="zs_tabs_box">
                        <div class="zs_tabs_lt_a">
                            <img src="__IMG__/backend-picture/zs1.jpg" alt="">
                        </div>
                        <div class="zs_tabs_lt_b">
                            BT125外观设计专利证书
                        </div>
                    </div>
                </div>
                <div class="zs_tabs_rt fr">
                    <div class="zs_tabs_rt_a">
                        电缆
                    </div>
                    <div class="zs_tabs_rt_b">
                        山东锐堃电缆有限公司注重产品研发和技术保护，积极开展专利申请工作，现有各类有效专利证书70件。
                    </div>
                    <div class="zs_tabs_rt_c">
                        <ul class="clearfix">
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/0255e3a4fd273889808fa8b37b8abbe3.png" src="__IMG__/backend-picture/0255e3a4fd273889808fa8b37b8abbe3.png" alt="一种电缆铠装后纵包袋类装置 ">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/6ef9fa66c3f494b6b18f6980d3d2bbfa.jpg" src="__IMG__/backend-picture/6ef9fa66c3f494b6b18f6980d3d2bbfa.jpg" alt="一种导线光纤复合电缆">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/eb3cdd9276af383ca80fb797763f1d0d.jpg" src="__IMG__/backend-picture/eb3cdd9276af383ca80fb797763f1d0d.jpg" alt="一种导线光纤符合电缆 ">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/9d6f616ab26ec86c226df8d3f1be542e.jpg" src="__IMG__/backend-picture/9d6f616ab26ec86c226df8d3f1be542e.jpg" alt="一种导体带有加强钢芯的承荷探测电缆 ">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/1f4ab61ba490e156bbc4b5ded0570cc8.jpg" src="__IMG__/backend-picture/1f4ab61ba490e156bbc4b5ded0570cc8.jpg" alt="一种导体超小节距比承荷探测电缆 ">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/7d2474efe3647701ef8ca00107bc6aff.jpg" src="__IMG__/backend-picture/7d2474efe3647701ef8ca00107bc6aff.jpg" alt="一种带有识别标志的承荷探测电缆 ">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/19ac75c27d465e47bd72d6d1bbb7a4cc.jpg" src="__IMG__/backend-picture/19ac75c27d465e47bd72d6d1bbb7a4cc.jpg" alt="一种变压器椭圆线圈">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/1f60f99a8f7ab4817a1047c66f69bac2.jpg" src="__IMG__/backend-picture/1f60f99a8f7ab4817a1047c66f69bac2.jpg" alt="一种半导电聚丙烯屏蔽承荷探测电缆">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/9a0c63e43a1252958e8b5aaa52954ee7.jpg" src="__IMG__/backend-picture/9a0c63e43a1252958e8b5aaa52954ee7.jpg" alt="一种GPRS数据传输模块">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/2a7c52abeb798daf943847f832da1d82.jpg" src="__IMG__/backend-picture/2a7c52abeb798daf943847f832da1d82.jpg" alt="悬浮钢管光纤承荷探测电缆">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/902d741b59f754a611426a87252c4792.jpg" src="__IMG__/backend-picture/902d741b59f754a611426a87252c4792.jpg" alt="调容式自动补偿消弧线圈">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/72b8e948bb7fcee5517872900603f44e.jpg" src="__IMG__/backend-picture/72b8e948bb7fcee5517872900603f44e.jpg" alt="双管光纤探测电缆">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/7e87d0294a6d14f5e74b334b8c03ca61.jpg" src="__IMG__/backend-picture/7e87d0294a6d14f5e74b334b8c03ca61.jpg" alt="三铠承荷探测光缆">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/04d47ef2888676472a511d550f0c9863.jpg" src="__IMG__/backend-picture/04d47ef2888676472a511d550f0c9863.jpg" alt="三分型面软质铠装模具">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/97002057291eb1f4b45f0bfa387f4b8e.png" src="__IMG__/backend-picture/97002057291eb1f4b45f0bfa387f4b8e.png" alt="绕包光纤探测电缆">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/5605e28334b60df39c19f720e88cc62b.jpg" src="__IMG__/backend-picture/5605e28334b60df39c19f720e88cc62b.jpg" alt="漆包线导体承荷探测电缆">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/2200906234261b89e177899cdba9b39d.jpg" src="__IMG__/backend-picture/2200906234261b89e177899cdba9b39d.jpg" alt="逆变式原油脱水电源">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/4dd55145bfedab73aa1bd753ad823cc2.png" src="__IMG__/backend-picture/4dd55145bfedab73aa1bd753ad823cc2.png" alt="漫反射地面电缆">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/8c97207a71e66691bf0962e8596d4d25.jpg" src="__IMG__/backend-picture/8c97207a71e66691bf0962e8596d4d25.jpg" alt="铝合金电缆用铠装压形轮">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/741e3d5fc25c24aae94fd37575550175.jpg" src="__IMG__/backend-picture/741e3d5fc25c24aae94fd37575550175.jpg" alt="聚氯乙烯绝缘尼龙护套自联锁铠装外护套电缆">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/e8bf26030a75438ac2bacd87dbd8f48d.jpg" src="__IMG__/backend-picture/e8bf26030a75438ac2bacd87dbd8f48d.jpg" alt="具有行走和固定装置的缆线盘">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/7ff90b1e0370f1361d5f41bf1c844ded.jpg" src="__IMG__/backend-picture/7ff90b1e0370f1361d5f41bf1c844ded.jpg" alt="紧固塑料管夹">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/bcc6ef6090dfafc924d83035e0950d65.png" src="__IMG__/backend-picture/bcc6ef6090dfafc924d83035e0950d65.png" alt="加强型三铠承荷探测电缆">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/fe9b180023650925e6e9cff2ce11c08a.jpg" src="__IMG__/backend-picture/fe9b180023650925e6e9cff2ce11c08a.jpg" alt="护套光纤探测电缆">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/030a9abb5280d82147a58d2f9d377a41.jpg" src="__IMG__/backend-picture/030a9abb5280d82147a58d2f9d377a41.jpg" alt="防腐承荷探测电缆">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/fbb5543041d555660f2207e6efab01a6.jpg" src="__IMG__/backend-picture/fbb5543041d555660f2207e6efab01a6.jpg" alt="多变比宽负载电能计量装置">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/f64c2fbe582002f01187e401670f9824.jpg" src="__IMG__/backend-picture/f64c2fbe582002f01187e401670f9824.jpg" alt="电容变压器">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/2ead2012da39faa61b1f3502fe609a81.jpg" src="__IMG__/backend-picture/2ead2012da39faa61b1f3502fe609a81.jpg" alt="电力线载波数传模块">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/0e34c57ffeee1877e96d45df0c2aa829.jpg" src="__IMG__/backend-picture/0e34c57ffeee1877e96d45df0c2aa829.jpg" alt="电动潜油电泵电力圆电缆">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/9b8ed3eb397a31aad68dc6e03700f37a.jpg" src="__IMG__/backend-picture/9b8ed3eb397a31aad68dc6e03700f37a.jpg" alt="低压智能防盗计量箱">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/4b99330b291b28e883610ce32f459044.JPG" src="__IMG__/backend-picture/4b99330b291b28e883610ce32f459044.JPG" alt="导体封堵承荷探测电缆">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/ab82aac78aa71e7874261f21aa681037.jpg" src="__IMG__/backend-picture/ab82aac78aa71e7874261f21aa681037.jpg" alt="采用自联锁铠装护套的柔性防火矿物绝缘电缆">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/2f276b1e77d518e27d395c874020b8f0.jpg" src="__IMG__/backend-picture/2f276b1e77d518e27d395c874020b8f0.jpg" alt="3G无线移动监控">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/1c93d0b22f3f4cae4eb25fee5b028fc6.jpg" src="__IMG__/backend-picture/1c93d0b22f3f4cae4eb25fee5b028fc6.jpg" alt="3.5毫米承荷探测电缆下井装置">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--第四个tabs-->
            <div class="zs_tabs">
                <div class="zs_tabs_lt fl ">
                    <div class="zs_tabs_box">
                        <div class="zs_tabs_lt_a">
                            <img src="__IMG__/backend-picture/zs1.jpg" alt="">
                        </div>
                        <div class="zs_tabs_lt_b">
                            BT125外观设计专利证书
                        </div>
                    </div>
                </div>
                <div class="zs_tabs_rt fr">
                    <div class="zs_tabs_rt_a">
                        炭黑
                    </div>
                    <div class="zs_tabs_rt_b">
                        山东耐斯特炭黑有限公司注重产品研发和技术保护，积极开展专利申请工作，现有各类有效专利证书10件。
                    </div>
                    <div class="zs_tabs_rt_c">
                        <ul class="clearfix">
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/80e30eec114113e62a40283ec0312c89.jpg" src="__IMG__/backend-picture/80e30eec114113e62a40283ec0312c89.jpg" alt="语音报数计量装置">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/27f1cd2ccacf8ba705cfec025b01f834.jpg" src="__IMG__/backend-picture/27f1cd2ccacf8ba705cfec025b01f834.jpg" alt="一种异型炭黑反应炉装置">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/cf9e3317c05afac5fb3e8b610ea7be84.jpg" src="__IMG__/backend-picture/cf9e3317c05afac5fb3e8b610ea7be84.jpg" alt="一种新型固体物料位连续测量变送输出装置">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/11a7e19297259cbc4d378105ba86d1b5.jpg" src="__IMG__/backend-picture/11a7e19297259cbc4d378105ba86d1b5.jpg" alt="一种新型的炭黑产品磁选器">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/634aaef85e647b97dbfe460838b444ef.jpg" src="__IMG__/backend-picture/634aaef85e647b97dbfe460838b444ef.jpg" alt="一种新型的可调节式湿法炭黑造粒机">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/631974a3bd38ff6662aafd3f5ccc2828.jpg" src="__IMG__/backend-picture/631974a3bd38ff6662aafd3f5ccc2828.jpg" alt="一种新型的高温空气预热器">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/7d7c2c363f87127f3bce5d600e39bc10.jpg" src="__IMG__/backend-picture/7d7c2c363f87127f3bce5d600e39bc10.jpg" alt="一种炭黑生产用原料油枪">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/bed3a41a287e44f92eebd7d09371c900.jpg" src="__IMG__/backend-picture/bed3a41a287e44f92eebd7d09371c900.jpg" alt="一种炭黑生产用雾化气体自动控制装置">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/c3ceb2e66c7dc886b6d9dee1cc73f82c.jpg" src="__IMG__/backend-picture/c3ceb2e66c7dc886b6d9dee1cc73f82c.jpg" alt="炭黑杂质过滤器">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/15a33e9d192d2a369a57447199e138c5.jpg" src="__IMG__/backend-picture/15a33e9d192d2a369a57447199e138c5.jpg" alt="磁选除渣过滤器">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--第五个tabs-->
            <div class="zs_tabs">
                <div class="zs_tabs_lt fl ">
                    <div class="zs_tabs_box">
                        <div class="zs_tabs_lt_a">
                            <img src="__IMG__/backend-picture/zs1.jpg" alt="">
                        </div>
                        <div class="zs_tabs_lt_b">
                            BT125外观设计专利证书
                        </div>
                    </div>
                </div>
                <div class="zs_tabs_rt fr">
                    <div class="zs_tabs_rt_a">
                        石化
                    </div>
                    <div class="zs_tabs_rt_b">
                        山东天弘化学有限公司，积极开展专利申请工作，现拥有多项专利技术。
                    </div>
                    <div class="zs_tabs_rt_c">
                        <ul class="clearfix">
                            <li class="sHoverItem">
                                <img class="lazy" data-original="__IMG__/backend-picture/68f7732440e7c70cbb55e5564f5b2c7c.jpg" src="__IMG__/backend-picture/68f7732440e7c70cbb55e5564f5b2c7c.jpg" alt="一种含油污水处理系统">
                            </li>
                            <li class="sHoverItem">
                                <img class="lazy" data-original="/uploads/images/20171201/da7b5a30ed79babb913680796788eb93.png" src="/uploads/images/20171201/da7b5a30ed79babb913680796788eb93.png" alt="一种浮油、浮渣处理系统">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pp">
                <div class="pp_box">
                    <div class="pp_title slideInUp animated" style="visibility: visible; animation-name: slideInUp;">旗下品牌</div>
                    <div class="pp_hd slideInUp animated" style="visibility: visible; animation-name: slideInUp;">
                        锐堃集团注重品牌建设和商标保护，目前拥有7个山东省著名商标、13个山东省名牌产品和1个山东省重点培育和发展的国际知名品牌，名牌总数位居山东省企业前列
                    </div>
                    <div class="pp_swiper slideInUp animated" style="visibility: visible; animation-name: slideInUp;">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <ul class="clearfix">
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp1.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp1_on.png" alt="">
                                        </li>
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp2.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp2_on.png" alt="">
                                        </li>
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp3.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp3_on.png" alt="">
                                        </li>
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp4.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp4_on.png" alt="">
                                        </li>
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp5.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp5_on.png" alt="">
                                        </li>
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp6.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp6_on.png" alt="">
                                        </li>
                                    </ul>
                                </div>
                                <div class="swiper-slide">
                                    <ul class="clearfix">
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp7.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp7_on.png" alt="">
                                        </li>
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp8.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp8_on.png" alt="">
                                        </li>
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp9.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp9_on.png" alt="">
                                        </li>
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp10_on.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp10.png" alt="">
                                        </li>
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp11_on.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp11.png" alt="">
                                        </li>
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp12.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp12_on.png" alt="">
                                        </li>
                                    </ul>
                                </div>
                                <div class="swiper-slide">
                                    <ul class="clearfix">
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp13.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp13_on.png" alt="">
                                        </li>
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp14.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp14_on.png" alt="">
                                        </li>
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp15.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp15_on.png" alt="">
                                        </li>
                                        <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                            <img class="pp_show" src="__IMG__/backend-picture/pp16.png" alt="">
                                            <img class="pp_hide" src="__IMG__/backend-picture/pp16_on.png" alt="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pagination">
                                <span class="swiper-pagination-switch swiper-active-switch"></span>
                                <span class="swiper-pagination-switch"></span>
                                <span class="swiper-pagination-switch"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <include file="public:footer" />

</body>

</html>