<!DOCTYPE html>
<html lang="en">

<head>
    <include file="public:head" />
    <link rel="stylesheet" href="__CSS__/instroduction.css">
</head>

<body>
    <include file="public:head_menu" />

    <div class="rw">
        <include file="public:head_min_menu" />
        <!--走进锐堃-集团介绍 主体 start-->
        <div class="jt_xz">
            <div class="jt_xz_box clearfix">
                <ul class="clearfix">
                    <li>
                        <div class="jt_xz_a">
                            <img src="__IMG__/front-end-picture/jt_icon1.png" alt="">
                        </div>
                        <div class="jt_xz_b jt_xz_b1" title="233">
                            233
                        </div>
                        <div class="jt_xz_c">中国企业500强</div>
                    </li>
                    <li>
                        <div class="jt_xz_a">
                            <img src="__IMG__/front-end-picture/jt_icon2.png" alt="">
                        </div>
                        <div class="jt_xz_b jt_xz_b2" title="102">
                            102
                        </div>
                        <div class="jt_xz_c">中国制造业企业500强</div>
                    </li>
                    <li>
                        <div class="jt_xz_a">
                            <img src="__IMG__/front-end-picture/jt_icon3.png" alt="">
                        </div>
                        <div class="jt_xz_b jt_xz_b3" title="54">
                            54
                        </div>
                        <div class="jt_xz_c">中国民营企业500强</div>
                    </li>
                </ul>
            </div>
        </div>
        <!--新增-->
        <div class="run_main">
            <div class="run_profile_main">
                <div class="run_profile col-lg-6 col-md-6">
                    <div class="run_profile_a">
                        中国锐堃集团简介
                    </div>
                    <div class="run_profile_b">
                        中国锐堃集团创建于1988年，位于美丽的黄河入海口、胜利油田的发祥地—山东东营。在近30年的发展中......
                    </div>
                    <div class="run_profile_c">
                        <a target="_blank" href="###">了解详情 &gt;</a>
                    </div>
                </div>
                <div class="run_profile_bg col-lg-6 col-md-6">
                    <img class="video_img1" src="__IMG__/backend-picture/video_img1.jpg" alt="">
                </div>
            </div>

            <div class="run_concept container">
                <div class="run_concept_title clearfix">
                    <div class="run_concept_title_lt text-center">
                        企业理念
                    </div>
                </div>
                <div class="run_concept_main">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <ul>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            企业愿景
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            汇聚科技精华 缔造百年锐堃
                                        </div>
                                    </li>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            企业使命
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            产业报国 奉献社会 服务人民 造福员工
                                        </div>
                                    </li>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            企业宗旨
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            以质求存 诚信共赢 创新发展 品牌致胜
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-slide">
                                <ul>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            发展目标
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            抓龙头产业 创世界品牌 做仟亿强企 铸百年锐堃
                                        </div>
                                    </li>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            十二字经营理念
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            诚信 创新 管理 人才 利润 奉献
                                        </div>
                                    </li>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            十二字行为准则
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            忠诚 团结 积极 服从 原则 结果
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-slide">
                                <ul>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            企业精神
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            事业第一 诚信为本 团结协作 勇于创新
                                        </div>
                                    </li>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            经营方针
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            市场为先 客户第一 质量兴企 利益共享
                                        </div>
                                    </li>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            市场观念
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            审时度势 快速应变
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-slide">
                                <ul>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            质量观念
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            锲而不舍 精益求精
                                        </div>
                                    </li>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            学习观念
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            自我淘汰 自我超越
                                        </div>
                                    </li>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            创新观念
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            思路决定出路 创新决定前途
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-slide">
                                <ul>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            危机观念
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            战战兢兢 如履薄冰
                                        </div>
                                    </li>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            国际化观念
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            胸怀天下 追求卓越
                                        </div>
                                    </li>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            精品观念
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            精益求精 勇攀高峰
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-slide">
                                <ul>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            工作观念
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            节用惜时 精干高效
                                        </div>
                                    </li>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            道德观念
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            正直 诚信 责任 协作
                                        </div>
                                    </li>
                                    <li class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                        <div class="firm_a">
                                            国际化观念
                                        </div>
                                        <div class="firm_b">
                                            <span></span><i></i>
                                        </div>
                                        <div class="firm_c">
                                            胸怀天下 追求卓越
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        <span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span>
                        <span class="swiper-pagination-switch"></span>
                        <span class="swiper-pagination-switch"></span>
                        <span class="swiper-pagination-switch"></span>
                        <span class="swiper-pagination-switch"></span>
                        <span class="swiper-pagination-switch"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <include file="public:footer" />

</body>

</html>