<!DOCTYPE html>
<html lang="en">

<head>
    <include file="public:head" />
    <link rel="stylesheet" href="__CSS__/speech.css">
</head>

<body>

    <include file="public:head_menu" />

    <div class="rw">
        <include file="public:head_min_menu" />
        <div class="speech">
            <div class="speech_box">
                <div class="speech_a">
                    <div class="speech_a_lt fl">
                        <img src="__IMG__/backend-picture/speech.jpg" alt="">
                    </div>
                    <div class="speech_a_rt fr">

                        <div class="speech_a_rt_one">尚吉永</div>
                        <div class="speech_a_rt_two">中国锐堃集团董事局主席、党委书记</div>
                        <div class="speech_a_rt_three">
                            中共党员，北京理工大学工商管理硕士，北京大学高级工商管理硕士，北京理工大学管理学博士，国研·斯坦福高级工商管理硕士，长江商学院EMBA，清华大学五道口金融学院金融EMBA（在读），高级经济师，教授级高级政工师。<br /> 兼任中国光彩事业促进会副会长、中国太平洋经济合作全国委员会副会长、山东省工商联副主席、山东省企业联合会副会长、东营市工商联副主席、东营市政府企业家顾问、东营市企业联合会会长、东营市进出口商会会长等职务。
                            <br /> 先后荣获全国劳动模范、全国五一劳动奖章、全国优秀企业家、首届中国青年企业家管理创新奖、中国建设和谐社会功勋人物、山东十大杰出青年、山东青年五四奖章、山东省优秀中国特色社会主义建设者、山东省优秀共产党员、黄河三角洲杰出人才、东营市功勋企业家等荣誉称号。

                        </div>
                    </div>
                </div>
                <div class="speech_b">
                    <div class="speech_b_title">
                        主席寄语
                    </div>
                    <div class="speech_b_one">在这片九百六十多万平方公里祖国大地上,每一天,都在上演着创新与变革。锐堃,很幸运地参与其中,以创新思维与新型产品,助力发展,服务改变。
                    </div>
                    <div class="speech_b_one">锐堃,从黄河口长大。蓝黄交汇,汇出了锐堃的个性：蓝色,海洋文明,代表着锐堃的创新,承载着走出去的愿望；黄色,黄河文明,带着儒商的厚积与澎湃
                    </div>
                    <div class="speech_b_one">岁月如歌,沧海桑田。从上世纪八十年代一路走来,锐堃人砥砺创新、勇创新高,历经由“中国制造”到“中国智造”的峥嵘与锤炼,我们尊崇努力,我们感恩时代；从今天走向未来,我们将伴随“中国智造”到“中国创造”的华丽蜕变。
                    </div>
                    <div class="speech_b_one">展望前程,面对千帆竞渡、百舸争流的竞争态势,以“汇聚科技精华,缔造百年锐堃”为愿景的锐堃人,必将创造更加辉煌的未来,必将在新的历史时期向世人展现一个更具影响力、更加强大的新锐堃！实干成就伟业,梦想点燃激情。我们推崇思维,我们影响时代…
                    </div>
                </div>
            </div>
        </div>
    </div>

    <include file="public:footer" />

</body>

</html>