<!DOCTYPE html>
<html lang="en">

<head>
    <include file="public:head" />
    <link rel="stylesheet" href="__CSS__/strategy.css">
</head>

<body>

    <include file="public:head_menu" />

    <div class="rw">
        <include file="public:head_min_menu" />
        <div class="strategy">
            <div class="strategy_box">
                <div class="st_date">
                    <div class="st_date_box">
                        <div class="st_date_lt fl">
                            <ul>
                                <li class="st_active">
                                    <div class="st_date_lt_d " data-range="1988-1996">
                                        <div class="st_date_lt_a">1988-1996</div>
                                        <div class="st_date_lt_b">科技促腾飞</div>
                                        <div class="st_date_lt_c">
                                            <span></span>
                                            <i></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="st_date_lt_d" data-range="1997-2004">
                                        <div class="st_date_lt_a">1997-2004</div>
                                        <div class="st_date_lt_b">品牌创优势</div>
                                        <div class="st_date_lt_c">
                                            <span></span>
                                            <i></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="st_date_lt_d" data-range="2005-2012">
                                        <div class="st_date_lt_a">2005-2012</div>
                                        <div class="st_date_lt_b">合作促发展</div>
                                        <div class="st_date_lt_c">
                                            <span></span>
                                            <i></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="st_date_lt_d" data-range="2013">
                                        <div class="st_date_lt_a">2013-至今</div>
                                        <div class="st_date_lt_b">创新赢未来</div>
                                        <div class="st_date_lt_c">
                                            <span></span>
                                            <i></i>
                                        </div>
                                    </div>
                                </li>
                                <div class="st_date_wl">
                                    <a href="###">
                                        锐堃年鉴
                                    </a>
                                </div>
                            </ul>
                        </div>
                        <!-- 第一个tabs-->
                        <div class="st_date_rt fr clearfix" style="display: block;">
                            <ul class="fr" id="st_date_ul_con">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="st_bg">
                    <div class="st_swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" style='background: url("__IMG__/backend-picture/st.jpg") no-repeat center center; background-size: cover;'>
                                    <div class="st_swiper_box">
                                        <div class="st_swiper_a">01</div>
                                        <div class="st_swiper_b">发展规划</div>
                                        <div class="st_swiper_c">以科技为先导，提升企业核心竞争力</div>
                                        <div class="st_swiper_c_more">坚持以“四新”促“四化”，通过科技创新推动产业和产品向高附加值的两端延伸。</div>
                                        <div class="st_swiper_d">
                                            <img src="__IMG__/front-end-picture/yuan.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide" style='background: url("__IMG__/backend-picture/st4.jpg") no-repeat center center; background-size: cover;'>
                                    <div class="st_swiper_box">
                                        <div class="st_swiper_a">02</div>
                                        <div class="st_swiper_b">发展规划</div>
                                        <div class="st_swiper_c">以石化橡胶一体化为龙头，培植企业发展新动能。</div>
                                        <div class="st_swiper_c_more">
                                            一方面持续壮大本土产业，夯实发展根基。瞄准石化橡胶一体化发展方向，着力打造产业集聚效应。另一方面，加速“走出去”战略布局，提升企业国际化水平。
                                        </div>
                                        <div class="st_swiper_d">
                                            <img src="__IMG__/front-end-picture/yuan.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide" style='background: url("__IMG__/backend-picture/st3.jpg") no-repeat center center; background-size: cover;'>
                                    <div class="st_swiper_box">
                                        <div class="st_swiper_a">03</div>
                                        <div class="st_swiper_b">发展规划</div>
                                        <div class="st_swiper_c">推进跨界融合，构建相关多元发展的战略格局。</div>
                                        <div class="st_swiper_c_more">
                                            一是突出与央企国企合资合作。二是突出“实体+金贸”。三是突出“实体+互联网”。四是突出“实体+资本运营”。
                                        </div>
                                        <div class="st_swiper_d">
                                            <img src="__IMG__/front-end-picture/yuan.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide" style='background: url("__IMG__/backend-picture/st2.jpg") no-repeat center center; background-size: cover;'>
                                    <div class="st_swiper_box">
                                        <div class="st_swiper_a">04</div>
                                        <div class="st_swiper_b">发展规划</div>
                                        <div class="st_swiper_c">中国锐堃集团将积极抢抓“一带一路”、中国制造2025的重大历史机遇，中国锐堃集团紧抓机遇，为长远发展做足准备</div>
                                        <div class="st_swiper_c_more">
                                            紧紧围绕“抓龙头产业、创世界品牌、做仟亿强企、铸百年锐堃”这一总体发展思路，全力推动企业向创新驱动型、绿色低碳型、智能制造型方向发展，不断提升企业综合实力，争取早日跻身世界500强。
                                        </div>
                                        <div class="st_swiper_d">
                                            <img src="__IMG__/front-end-picture/yuan.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="btn1">
                            <img src="__IMG__/front-end-picture/left_img1.png" alt="">
                        </div>
                        <div class="btn2">
                            <img src="__IMG__/front-end-picture/right_img2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="honor">
                    <div class="honor_box">
                        <div class="honor_title">
                            荣誉证书
                        </div>
                        <div class="honot_hd">
                            公司先后荣获全国五一劳动奖状、中国重合同守信用企业、国家标准化良好行为AAAA级企业等荣誉称号，是全省唯一一家母子公司双双通过AA+信用评级的民营企业。
                        </div>
                        <div class="honor_list">
                            <ul class="clearfix">
                                <li class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                    <img src="__IMG__/backend-picture/honor_img1.jpg" alt="">
                                </li>
                                <li class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                    <img src="__IMG__/backend-picture/honor_img2.jpg" alt="">
                                </li>
                                <li class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                    <img src="__IMG__/backend-picture/honor_img3.jpg" alt="">
                                </li>
                                <li class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                    <img src="__IMG__/backend-picture/honor_img4.jpg" alt="">
                                </li>
                                <li class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                    <img src="__IMG__/backend-picture/honor_img5.jpg" alt="">
                                </li>
                                <li class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                    <img src="__IMG__/backend-picture/honor_img6.jpg" alt="">
                                </li>
                                <li class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                    <img src="__IMG__/backend-picture/honor_img7.jpg" alt="">
                                </li>
                                <li class="col-lg-3 col-md-3 col-xs-6 col-sm-6">
                                    <img src="__IMG__/backend-picture/honor_img8.jpg" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <include file="public:footer" />

</body>

</html>