<!DOCTYPE HTML>
<html>
<head>
    <title> 表格跟弹出框联动</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/page-min.css" rel="stylesheet" type="text/css" />   <!-- 下面的样式，仅是为了显示代码，而不应该在项目中使用-->
    <link href="../assets/css/prettify.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        code {
            padding: 0px 4px;
            color: #d14;
            background-color: #f7f7f9;
            border: 1px solid #e1e1e8;
        }
    </style>
</head>
<body>

<div class="container">
    <div id="grid"></div>
    <!--<p>-->
        <!--<button id="btnSave" class="button button-primary">提交</button>-->
    <!--</p>-->
    <!--<h2>提交结果</h2>-->
    <!--<div class="row">-->
        <!--<div id="log" class="well span12">-->

        <!--</div>-->
    <!--</div>-->


    <div id="content" class="hide">
        <form id="J_Form" class="form-horizontal">
            <div class="row">
                <div class="control-group span8">
                    <label class="control-label"><s>*</s>菜单：</label>
                    <div class="controls">
                        <input name="name" type="text" data-rules="{required:true}" class="input-normal control-text">
                    </div>
                </div>
                <div class="control-group span8">
                    <label class="control-label"><s>*</s>上级菜单：</label>
                    <div class="controls">
                        <select  data-rules="{required:true}" id="menu_first" name="cid" class="input-normal">
                            <option value="">请选择</option>
                            <option value="zou">走读</option>
                            <option value="zhu">住校</option>
                            <option value="zhu">22222</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="control-group span15 ">
                    <label class="control-label">访问地址：</label>
                    <div id="range" class="controls bui-form-group" data-rules="{dateRange : true}">
                        <input name="url" type="text" data-rules="{required:true}" class="input-normal control-text">
                    </div>
                    <input type="hidden" name="id" value="0">
                </div>
            </div>
            <div class="row">
                <div class="control-group span15">
                    <label class="control-label">是否显示：</label>
                    <div class="controls control-row4">
                        <select  data-rules="{required:true}"  name="ifshow" class="input-normal">
                            <option value="0">是</option>
                            <option value="1">否</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="../assets/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../assets/js/bui-min.js"></script>

<script type="text/javascript" src="../assets/js/config-min.js"></script>
<script type="text/javascript">
    BUI.use('common/page');
</script>
<!-- 仅仅为了显示代码使用，不要在项目中引入使用-->
<script type="text/javascript" src="../assets/js/prettify.js"></script>
<script type="text/javascript">
    $(function () {
        prettyPrint();
    });
</script>
<script type="text/javascript">
    var dataId = window.dataId;//设置全局

    var coordinates = (function() {
        var result;
        $.ajax({
            type:'get',
            url:'/admin/navList',
            dataType:'json',
            async:false,
            success:function(data){
                result = data;
            }
        });
        return result;
    })();
    var option = '<option value="0">选择一次菜单</option>';
    $.each(coordinates,function (k,v) {
        if(!v.cid){
            option += '<option value="' + v.id + '">' + v.name +'</option>';
        }
    });

    $('#menu_first').html(option);



    BUI.use(['bui/grid','bui/data'],function (Grid,Data) {



        var columns = [{title : '标题',dataIndex :'name'},

                {title : 'id',dataIndex :'id',display:'none',width:0,
                    renderer : function(k,v){
                        if(!v.id ){
                            console.log(k);console.log(v);
                         }
                        return '<span style="color: #9d261d;">' + v.id + '</span>';
                    }
                },

                {title : 'url地址',dataIndex :'url'},
                {title : '是否显示',dataIndex :'ifshow',renderer : function(k,v){
                    if(v.ifshow==0){
                        text = '<span style="color:#333">显示</span>'
                    }else{
                        text = '<span style="color: #9d261d">隐藏</span>'
                    }
                        return text;
                    }
                },
                {title : '上级菜单',dataIndex :'cid',width:150,renderer : function(k,v) {
                        var text = '<span style="color: #a9a4a4">无上级</span>';
                        if (v.cid) {
                            $.each(data,function (d,e) {
                                if(v.cid==e.id){
                                    text = '<span style="color:#333">' + e.name + '</span>';
                                }
                            });

                        }

                        return text;
                    }
                },
                {title : '操作',renderer : function(k,v){
                        return '<span class="grid-command btn-edit" data-value="' +  v.cid + '">编辑</span>';
                    }}
            ],
            //默认的数据
             data = coordinates,//[
            //     {id:'1',school:'武汉第一初级中学',enter:'1999-09-01',type: 'zou',outter:'2002-07-01',memo:'表现优异，多次评为三好学生'},
            //     {id:'2',school:'武汉第一高级中学',enter:'2002-09-01',type: 'zou',outter:'2005-07-01',memo:'表现优异，多次评为三好学生'}
            // ],
            store = new Data.Store({
                data:data,
                pageSize:10,	// 配置分页数目
            }),
            editing = new Grid.Plugins.DialogEditing({
                contentId : 'content',
                triggerCls : 'btn-edit',
                editor : {
                title: '编辑',
                success : function(){
                    var edtor = this,
                        form = edtor.get('form'),
                        editType = editing.get('editType'),//add 或者 edit
                        url = '';
                        if(editType == 'add'){ //可以根据编辑类型决定url
                          url = '/admin/nav';
                        }else{
                          url = '/admin/nav/edit';
                        }
                        url += '?saveType=' + editType;
                    //检验
                    form.valid();
                    if(form.isValid()){
                        form.ajaxSubmit({ //表单异步提交
                            url : url,
                            data:{id:$("input[name='id']").val(),name:$("input[name='name']").val(),url:$("input[name='url']").val(),ifshow:$("input[name='ifshow']").val(),cid:$("input[name='cid']").val()},
                            type:'post',
                            success : function(data){
                                // console.log(data);
                                if(editType == 'add'){
                                    //do something
                                }else{
                                    //do other
                                }

                                if(data.status){
                                    show(data.info);
                                    return false;
                                }else{
                                    if(editType == 'add') {
                                      $('input[name=id]').val(data.id);
                                    }
                                }

                                //将a 改成 1 测试一下显示错误
                                if(data.hasError){ //返回的数据是 {hasError : fasle,error : 'xxxx',field : 'xxx'},也可以是任意格式的数据如 ： {success : false,'error' : 'xxxxx'}
                                    var field = data.field;
                                    form.getField(field).showErrors([data.error]); //也可以多个字段的错误信息 例如 errors : [{field : 'a',error: 'addd'},{field : 'a',error: 'addd'}]
                                }else{
                                    edtor.accept();
                                }

                            },
                            error : function(){
                                //do something
                            }
                        });
                    }
                }
                 }
            }),
            grid = new Grid.Grid({
                render : '#grid',
                columns : columns,
                width : 700,
                forceFit : true,
                store : store,
                plugins : [Grid.Plugins.CheckSelection,editing],
                tbar:{
                    items : [{
                        btnCls : 'button button-small',
                        text : '<i class="icon-plus"></i>添加',
                        listeners : {
                            'click' : addFunction
                        }
                    },
                        {
                            btnCls : 'button button-small',
                            text : '<i class="icon-remove"></i>删除',
                            listeners : {
                                'click' : delFunction
                            }
                        }]
                },
                // 底部工具栏
                bbar:{
                    // pagingBar:表明包含分页栏
                    pagingBar:true
                }

            });
        grid.render();

        function addFunction(){
            var newData = {school :'请输入学校名称'};
            editing.add(newData); //添加记录后，直接编辑
        }

        function delFunction(){
            var selections = grid.getSelection();


            var idArr = (function() {
                var idArr  = new Array();


                for (var i=0;i<selections.length;i++) {
                    idArr[i] = selections[i]['id'];
                }
                return idArr;
            })();
            console.log(idArr);
            $.ajax({
                type: 'POST',
                url: '/admin/nav/del',
                data: {
                    id: idArr,
                },
                success: function (data) {
                    if(data.status) {
                        show(data.info);
                        return false;
                    }
                }
            });
            store.remove(selections);
        }
        var logEl = $('#log');
        $('#btnSave').on('click',function(){

            var records = store.getResult();
            logEl.text(BUI.JSON.stringify(records));
        });


        function show (meg) {
            BUI.Message.Alert(meg,function(){
                //alert('确认');
            },'info');
        }


    });
</script>

<body>
</html> 