<!DOCTYPE HTML>
<html>
 <head>
  <title> 顶部导航</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       <link href="../assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/page-min.css" rel="stylesheet" type="text/css" />   <!-- 下面的样式，仅是为了显示代码，而不应该在项目中使用-->
   <link href="../assets/css/prettify.css" rel="stylesheet" type="text/css" />
   <style type="text/css">
    code {
      padding: 0px 4px;
      color: #d14;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
    }
   </style>
 </head>
 <body>
  
  <div class="container">
    <div class="row">
      <div class="span8">
        <h2>导航设置</h2>
        <p>框架中的导航，事实上由3级导航构成：！</p>
        <ol>
          <li>顶部的一级导航，用于大的模块分类,右图所示：</li>
          <li>左边菜单中可以展开、折叠的是第二级，用于菜单的分类</li>
          <li>左边最下面的菜单项，不能展开、折叠，用于打开页面</li>
        </ol>
        <p>简单起见，我们用一级导航，二级菜单（包括二级、三级菜单）来说明</p>
      </div>

        <form action="/admin/nav" method="post">
          <div class="span16">
            <h2>导航列表</h2>
              <table id="nav_list" border="1"  width="400">
                  <tr  bordercolor="#000000" cellspacing="0px" >
                      <th>Month</th>
                      <th>Savings</th>
                  </tr>
                  <tr>
                      <td>January</td>
                      <td>$100</td>
                  </tr>
              </table>
            <h2>导航添加</h2>

            <p>导航名：</p>
              <p><input name="name" ></p>
            <p>上次菜单：</p>
            <p>
                <select name="cid" id="nav_cid">
                    <option value="0">一级导航</option>
                </select>
            </p>
              <p>访问地址：</p>
              <p><input name="url"   ></p>
              <p>是否显示：</p>
              <p>
                  <select name="ifshow">
                      <option value="0">是</option>
                      <option value="0">否</option>
                  </select>
              </p>
              <p style="margin-top:15px;"><input type="submit" style="margin-left:100px;"></p>
          </div>
        </form>

    </div>


  </div>
  <script type="text/javascript" src="../assets/js/jquery-1.8.1.min.js"></script>
  <script type="text/javascript" src="../assets/js/bui-min.js"></script>
  <script type="text/javascript" src="../assets/js/config-min.js"></script>
  <script type="text/javascript">
    BUI.use('common/page');
  </script>
  <!-- 仅仅为了显示代码使用，不要在项目中引入使用-->
  <script type="text/javascript" src="../assets/js/prettify.js"></script>
  <script type="text/javascript">
    $(function () {
      prettyPrint();
    });

    $.ajax({
            url: "/admin/navListLevel",
            method:"get",
            success: function(data){
                    var option = '';
                $.each(data,function (k,v) {

                    option += '<option value="' + v.id + '">' + v.name + '</option>';
                });

                $('#nav_cid').append(option);
            }
    });

    $.ajax({
        url: "/admin/navList",
        method:"get",
        success: function(data){
            var TR = '';
            $.each(data,function (k,v) {

                TR +='<tr>\n' +
                    '<td>' + v.name + '</td>\n' +
                    '<td>' + v.url  + '</td>\n' +
                    '</tr>'
            });

            $('#nav_list').html(TR);
        }
    });

  </script>  

<body>
</html>  