<!DOCTYPE HTML>
<html>
 <head>
  <title> </title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/template/admin/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="/template/admin/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="/template/admin/assets/css/page-min.css" rel="stylesheet" type="text/css" />   <!-- 下面的样式，仅是为了显示代码，而不应该在项目中使用-->
   <link href="/template/admin/assets/css/prettify.css" rel="stylesheet" type="text/css" />
   <style type="text/css">
      input{
        min-width: 200px;
        padding: 0 10px;
      }
      .container{
        width: 80%;
        margin: 0 auto;
      }
      .text{
        margin-top: 30px;
      }
      .text .title{
        margin-bottom: 30px;
      }
      .text .title input{
        border: 1px solid #3F5694;
        min-height: 30px;
      }
      .text .content{
        margin-bottom: 30px;
      }
      .text .content input{
        border: 1px solid #3F5694;
        min-width: 400px;
        min-height: 100px;
      }
      .btn button{
          border: none;
          width: 60px;
          height: 30px;
          background: #00AD19;
          color: #fff;
          margin-left: 30%;
      }
   </style>
 </head>
 <body>



        <div class="container">

            <div class="detail-section">
                <h3>文章列表</h3>
                <div class="row detail-row">
                    <div class="span24">
                        <div id="grid"></div>
                    </div>
                </div>
            </div>

          <div class="nav">
              <span>一级菜单：</span>
              <select name="first_level_menu" id="first_level_menu" onchange="changeSelect(this.selectedIndex)">
                  <eg name="menu" value="0" >
                      <option value="0">请选择一级菜单</option>
                        <foreach name="menu" item="m" >
                            <option value="$m.id">{$m.name}</option>
                        </foreach>
                  </eg>
              </select>
              <span>二级菜单：</span>
              <select name="cat_id" id="two_level_menu"></select>
          </div>
          <div class="text">
              <div class="title">
                  <span>标题：</span>
                  <input type="text" name="title" />
              </div>
              <div class="content">
                  <span>内容：</span>
                  <input type="text" name="content"/>
              </div>
          </div>
          <div class="btn">
              <button type="submit" onclick="return returnSubmit()">提交</button>
          </div>
        </div>

    <script src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script>
     <script type="text/javascript" src="../assets/js/bui-min.js"></script>

     <script type="text/javascript" src="../assets/js/config-min.js"></script>
     <script type="text/javascript">
         BUI.use('common/page');
     </script>
     <!-- 仅仅为了显示代码使用，不要在项目中引入使用-->
     <script type="text/javascript" src="../assets/js/prettify.js"></script>
     <script type="text/javascript">
         $(function () {
             prettyPrint();
         });
     </script>

  <script>

      function  menuObj(pid=0){
          var result;
          $.ajax({
              type:'get',
              url:'/admin/navListLevel',
              dataType:'json',
              data:{pid:pid},
              async:false,
              success:function(data){
                  result = data;
              }
          });
          return result;
      }

      function artList() {
          var result;
          $.ajax({
              type:'get',
              url:'/admin/artList',
              dataType:'json',
              async:false,
              success:function(data){
                  result = data;
              }
          });
          return result;
      }



      var coordinatesFirst = menuObj();

      // console.log(coordinatesFirst);

      var enumObjArr = new Array();

      for (var i=0;i<coordinatesFirst.length;i++) {
          enumObjArr[i] = [coordinatesFirst[i]['id'],coordinatesFirst[i]['name']];
      }



      enumObjArr[0] = [0,"请选择一级菜单"];


    var arr_province = enumObjArr;// ["请选择一级菜单","走进锐堃","新闻中心","集团产业","社会责任","人力资源"];
    var arr_city = [
                      ["请选择二级菜单"],
                    //  ['走进锐堃',"董事长致辞","集团介绍","发展战略","研发创新","企业文化","联系我们"],
                    //  ['锐堃动态','新闻聚焦','循环经济', '在线读报','视频中心'],
                    // ['国骥网络', '锐享汽贸', '圣手医学', '锐享生物', '积分交易所', '金映农业', '锐族实业', '易金融'],
                    //  ['责任体系', '社会公益', '光彩事业'],
                    //  ['人才理念', '人才发展', '社会招聘', '招聘声明']
                ];
    //网页加载完成，初始化菜单
     window.onload = init;//传入函数地址
     function init(){
         //首先获取对象
         var first_level_menu = document.getElementById("first_level_menu");
         var two_level_menu = document.getElementById("two_level_menu");
 
         //指定省份中<option>标记的个数
            first_level_menu.length = arr_province.length;
 
         //循环将数组中的数据写入<option>标记中
         for(var i=0;i<arr_province.length;i++){
            first_level_menu.options[i].text = arr_province[i][1];
            first_level_menu.options[i].value = arr_province[i][0];
         }
 
         //修改省份列表的默认选择项
         var index = 0;
         first_level_menu.selectedIndex = index;
 
         //指定城市中<option>标记的个数
            two_level_menu.length = arr_city[index].length;

 
         //循环将数组中的数据写入<option>标记中
         for (var j = 0; j<arr_city[index].length;j++) {
            two_level_menu.options[j].text = arr_city[index][j];
            two_level_menu.options[j].value = 0;
         }
     }
 
     function  changeSelect(index){


         var options = '<option value="0">请选择二级菜单</option>';

         if(!index){
             $("#two_level_menu").html(options);
             return false;
         }

         var arr_city = menuObj(index);


         //选择对象
         var two_level_menu = document.getElementById("two_level_menu");
         //修改省份列表的选择项
         first_level_menu.selectedIndex = index;

         //指定菜单中<option>标记的个数

         //循环将数组中的数据写入<option>标记中
         for (var j = 0; j<arr_city.length;j++) {
             options += '<option value="'+ arr_city[j]['id'] + '">'+ arr_city[j]['name'] + '</option>';
             //two_level_menu.options[j].text = arr_city[j]['name'];
         // two_level_menu.options[j].text = arr_city[index][j];
          // two_level_menu.options[j].value = arr_city[index][j];
         }

         $("#two_level_menu").html(options);
     }


      BUI.use('bui/grid',function (Grid) {
          var data = artList();//[{id:'1112',name:'李四',day:1349622209547,address:'上海市浦东新区杨高北路938号'},{id:'1112',name:'李四',day:1349622209547,address:'上海市浦东新区杨高北路938号'},{id:'1112',name:'李四',day:1349622209547,address:'上海市浦东新区杨高北路938号'},{id:'1112',name:'李四',day:1349622209547,address:'上海市浦东新区杨高北路938号'}],

          console.log(data);
              grid = new Grid.SimpleGrid({
                  render : '#grid', //显示Grid到此处
                  width : 950,      //设置宽度
                  columns : [
                      {title:'标题',dataIndex:'title',width:80},
                      {title:'上级菜单',dataIndex:'cat_id',width:100},
                      {title:'内容',dataIndex:'content',width:100},
                      {title:'添加时间',dataIndex:'add_time',width:100,renderer:Grid.Format.datetimeRenderer,renderer : function(k,v){
                              return formatDateTime(v.add_time);
                          }
                      },
                      // {title:'学生家庭住址',dataIndex:'address',width:300}
                  ]
              });
          grid.render();
          grid.showData(data);
      });

      function formatDateTime(timeStamp) {
          var date = new Date();
          date.setTime(timeStamp * 1000);
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          m = m < 10 ? ('0' + m) : m;
          var d = date.getDate();
          d = d < 10 ? ('0' + d) : d;
          var h = date.getHours();
          h = h < 10 ? ('0' + h) : h;
          var minute = date.getMinutes();
          var second = date.getSeconds();
          minute = minute < 10 ? ('0' + minute) : minute;
          second = second < 10 ? ('0' + second) : second;
          return y + '-' + m + '-' + d ;//+' '+h+':'+minute+':'+second;
      };
      
      function returnSubmit() {
          $.ajax({
              type:'post',
              url:'/admin/article/add',
              dataType:'json',
              data:{cat_id:$("select[name='cat_id']").val(),title:$("input[name='title']").val(),content:$("input[name='content']").val()},
              async:false,
              success:function(data){
                  if(data.status){
                      show (data.info);
                  }else{
                      setTimeout('myrefresh()',2000); //指定1秒刷新一次
                  }
              }
          });

          return false;
      }

      function show (meg) {
          BUI.Message.Alert(meg,function(){
              //alert('确认');
          },'info');
      }

      function myrefresh() {
          window.location.reload();
      }

  </script>  

<body>
</html>  