<!DOCTYPE HTML>
<html>
 <head>
  <title> </title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/template/admin/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="/template/admin/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="/template/admin/assets/css/page-min.css" rel="stylesheet" type="text/css" />   <!-- 下面的样式，仅是为了显示代码，而不应该在项目中使用-->
   <link href="/template/admin/assets/css/prettify.css" rel="stylesheet" type="text/css" />

     <!--<link href="http://g.alicdn.com/bui/bui/1.1.21/css/bs3/dpl.css" rel="stylesheet">-->
     <link href="http://g.alicdn.com/bui/bui/1.1.21/css/bs3/bui.css" rel="stylesheet">

     <script type="text/javascript" charset="utf-8" src="/template/admin/assets/js/ueditor.config.js"></script>
     <script type="text/javascript" charset="utf-8" src="/template/admin/assets/js/ueditor.all.min.js"> </script>
     <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
     <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
     <script type="text/javascript" charset="utf-8" src="/template/admin/assets/js/lang/zh-cn/zh-cn.js"></script>

   <style type="text/css">
      input{
        min-width: 200px;
        padding: 0 10px;
      }
      .container{
        width: 80%;
        margin: 0 auto;
      }
      .text{
        margin-top: 30px;
      }
      .text .title{
        margin-bottom: 30px;
      }
      .text .title input{
        border: 1px solid #3F5694;
        min-height: 30px;
      }
      .text .content{
        margin-bottom: 30px;
      }
      .text .content input{
        border: 1px solid #3F5694;
        min-width: 400px;
        min-height: 100px;
      }
      .btn button{
          border: none;
          width: 60px;
          height: 30px;
          background: #00AD19;
          color: #fff;
          margin: 20px 0 0 50%;
      }
      .hide {
          display: none;
          vertical-align: top;
          /* width: 200px;
          height: 200px; */
      }

      .show {
          vertical-align: top;
           width: 200px;
          height: 200px;
      }

       .bui-queue-item-error{
           display: none;
       }

      .edit {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          display: none;
      }
      .edit .mask {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: #000;
          opacity: 0.7;
          z-index: 999;
      }
      .edit .text {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          overflow: hidden;
          background: #fff;
          z-index: 1000;
      }
      .edit .text textarea {
          display: block;
          width: 606px;
          height: 430px;
          line-height: 30px;
          text-indent: 2em;
          font-size: 16px;
      }
   </style>
 </head>
 <body>



        <div class="container">

            <div class="detail-section">
                <h3>文章列表</h3>
                <div class="row detail-row">
                    <div class="span24">
                        <div id="grid"></div>
                    </div>
                </div>
            </div>

          <div class="nav">
              <span>一级菜单：</span>
              <select name="first_level_menu" id="first_level_menu" onchange="changeSelect(this.selectedIndex)">
                  <eg name="menu" value="0" >
                      <option value="0">请选择一级菜单</option>
                        <foreach name="menu" item="m" >
                            <option value="$m.id">{$m.name}</option>
                        </foreach>
                  </eg>
              </select>
              <span>二级菜单：</span>
              <select name="cat_id" id="two_level_menu"></select>
          </div>
          <div class="text">
              <div class="title">
                  <span>标  题 * ：</span>
                  <input type="text" name="title" />
              </div>
              <div class="content">
                  <span>内   容     ：</span>
                  <input type="text" name="content"/>
              </div>


            <script id="container" name="content" type="text/plain">
            </script>
            <div class="demo-content" style="margin-top:10px">

                  <div class="row">
                      <div class="span8">
                          <span>图片：</span>
                          <div id="J_Uploader">
                          </div>
                      </div>
                  </div>

                  <div class="low_source">
                      <span>预览图：</span><img src="" alt="" class="hide">
                  </div>
              </div>

          <div class="btn">
              <button type="submit" onclick="return returnSubmit()">提交</button>
          </div>

          <div class="edit">
              <div class="mask"></div>
              <div class="text">
                  <textarea name="" id="" cols="100" rows="50"></textarea>
                  <div class="btn">
                      <button type="submit">确认</button>
                  </div>
              </div>
          </div>

    <!-- 配置文件 -->
    <script type="text/javascript" src="/template/admin/assets/js/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/template/admin/assets/js/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container',{
            initialFrameWidth : 800,
            initialFrameHeight: 400
        });

        // ue.ready(function() {
        //
        //     UE.getEditor('myEditor1',{
        //         initialFrameWidth : 600,
        //         initialFrameHeight: 600
        //     });
        //                ue.setHeight(200);
        //              //设置编辑器的内容
        //               // ue.setContent('hello');
        //               //获取html内容，返回: <p>hello</p>
        //               // var html = ue.getContent();
        //               // //获取纯文本内容，返回: hello
        //              // var txt = ue.getContentTxt();
        //        });

    </script>


    <script src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script>
     <script type="text/javascript" src="../assets/js/bui-min.js"></script>

     <script type="text/javascript" src="../assets/js/config-min.js"></script>
     <script type="text/javascript">
         BUI.use('common/page');
     </script>
     <!-- 仅仅为了显示代码使用，不要在项目中引入使用-->
     <script type="text/javascript" src="../assets/js/prettify.js"></script>
     <script type="text/javascript">
         $(function () {
             prettyPrint();
         });
     </script>

  <script>

      function  menuObj(pid=0){
          var result;
          $.ajax({
              type:'get',
              url:'/admin/navListLevel',
              dataType:'json',
              data:{pid:pid},
              async:false,
              success:function(data){
                  result = data;
              }
          });
          return result;
      }

      function artList() {
          var result;
          $.ajax({
              type:'get',
              url:'/admin/artList',
              dataType:'json',
              async:false,
              success:function(data){
                  result = data;
              }
          });
          return result;
      }



      var coordinatesFirst = menuObj();

      // console.log(coordinatesFirst);

      var enumObjArr = new Array();

      for (var i=0;i<coordinatesFirst.length;i++) {
          enumObjArr[i] = [coordinatesFirst[i]['id'],coordinatesFirst[i]['name']];
      }



      enumObjArr[0] = [0,"请选择一级菜单"];


    var arr_province = enumObjArr;// ["请选择一级菜单","走进锐堃","新闻中心","集团产业","社会责任","人力资源"];
    var arr_city = [
                      ["请选择二级菜单"],
                    //  ['走进锐堃',"董事长致辞","集团介绍","发展战略","研发创新","企业文化","联系我们"],
                    //  ['锐堃动态','新闻聚焦','循环经济', '在线读报','视频中心'],
                    // ['国骥网络', '锐享汽贸', '圣手医学', '锐享生物', '积分交易所', '金映农业', '锐族实业', '易金融'],
                    //  ['责任体系', '社会公益', '光彩事业'],
                    //  ['人才理念', '人才发展', '社会招聘', '招聘声明']
                ];
    //网页加载完成，初始化菜单
     window.onload = init;//传入函数地址
     function init(){
         //首先获取对象
         var first_level_menu = document.getElementById("first_level_menu");
         var two_level_menu = document.getElementById("two_level_menu");
 
         //指定省份中<option>标记的个数
            first_level_menu.length = arr_province.length;
 
         //循环将数组中的数据写入<option>标记中
         for(var i=0;i<arr_province.length;i++){
            first_level_menu.options[i].text = arr_province[i][1];
            first_level_menu.options[i].value = arr_province[i][0];
         }
 
         //修改省份列表的默认选择项
         var index = 0;
         first_level_menu.selectedIndex = index;
 
         //指定城市中<option>标记的个数
            two_level_menu.length = arr_city[index].length;

 
         //循环将数组中的数据写入<option>标记中
         for (var j = 0; j<arr_city[index].length;j++) {
            two_level_menu.options[j].text = arr_city[index][j];
            two_level_menu.options[j].value = 0;
         }
     }
 
     function  changeSelect(index){


         var options = '<option value="0">请选择二级菜单</option>';

         if(!index){
             $("#two_level_menu").html(options);
             return false;
         }

         var arr_city = menuObj(index);


         //选择对象
         var two_level_menu = document.getElementById("two_level_menu");
         //修改省份列表的选择项
         first_level_menu.selectedIndex = index;

         //指定菜单中<option>标记的个数

         //循环将数组中的数据写入<option>标记中
         for (var j = 0; j<arr_city.length;j++) {
             options += '<option value="'+ arr_city[j]['id'] + '" data-value = "'+ arr_city[j]['name'] + '" >'+ arr_city[j]['name'] + '</option>';
             //two_level_menu.options[j].text = arr_city[j]['name'];
         // two_level_menu.options[j].text = arr_city[index][j];
          // two_level_menu.options[j].value = arr_city[index][j];
         }

         $("#two_level_menu").html(options);
     }


      BUI.use('bui/grid',function (Grid) {
          var data = artList();//[{id:'1112',name:'李四',day:1349622209547,address:'上海市浦东新区杨高北路938号'},{id:'1112',name:'李四',day:1349622209547,address:'上海市浦东新区杨高北路938号'},{id:'1112',name:'李四',day:1349622209547,address:'上海市浦东新区杨高北路938号'},{id:'1112',name:'李四',day:1349622209547,address:'上海市浦东新区杨高北路938号'}],

          console.log(data);
              grid = new Grid.SimpleGrid({
                  render : '#grid', //显示Grid到此处
                  width : 950,      //设置宽度
                  columns : [
                      {title:'标题',dataIndex:'title',width:80,renderer : function(k,v){
                              return '<p  class="grid-command btn-edit" data-name="title" data-value="' +  v.article_id + '">' + v.title  + '</p>';
                          }
                      },
                      {title:'上级菜单',dataIndex:'cat_name',width:100,validator : valid},
                      {title:'内容',dataIndex:'content',width:100,renderer : function(k,v){
                              return '<p  class="grid-command btn-edit" data-name="content" data-value="' +  v.article_id + '">' + v.content  + '</p>';
                          }
                      },
                      {title:'添加时间',dataIndex:'add_time',width:100,renderer:Grid.Format.datetimeRenderer,renderer : function(k,v){
                              return formatDateTime(v.add_time);
                          }
                      },
                      // {title : '操作',width:30,renderer : function(k,v){
                      //     return '<p  class="grid-command btn-edit" data-value="' +  v.article_id + '">编辑</p>';
                      // }}
                      // {title:'学生家庭住址',dataIndex:'address',width:300}
                  ]
              });
          grid.render();
          grid.showData(data);
      });

     function valid() {
         alert(11);
     }

      function formatDateTime(timeStamp) {
          var date = new Date();
          date.setTime(timeStamp * 1000);
          var y = date.getFullYear();
          var m = date.getMonth() + 1;
          m = m < 10 ? ('0' + m) : m;
          var d = date.getDate();
          d = d < 10 ? ('0' + d) : d;
          var h = date.getHours();
          h = h < 10 ? ('0' + h) : h;
          var minute = date.getMinutes();
          var second = date.getSeconds();
          minute = minute < 10 ? ('0' + minute) : minute;
          second = second < 10 ? ('0' + second) : second;
          return y + '-' + m + '-' + d ;//+' '+h+':'+minute+':'+second;
      };

      function Total() {
          var numArr = []; // 定义一个空数组
          var txt = $("input[name='img']"); // 获取所有文本框
          for (var i = 0; i < txt.length; i++) {
              numArr.push(txt.eq(i).val()); // 将文本框的值添加到数组中
          }
          return numArr;
      }
      
      function returnSubmit() {
          // arr[0]='param';
          // arr[1]='param2';

          var cat_name = $("select[name='cat_id']").find("option:selected").text();

          $.ajax({
              type:'post',
              url:'/admin/article/add',
              dataType:'json',
              data:{
                  cat_id:$("select[name='cat_id']").val(),cat_name:cat_name,title:$("input[name='title']").val(),content:$("input[name='content']").val(),
                  title2:$("input[name='title2']").val(),content2:$("input[name='content2']").val(),
                  img:Total()
              },
              async:false,
              success:function(data){
                  if(data.status){
                      show (data.info);
                  }else{
                      setTimeout('myrefresh()',2000); //指定1秒刷新一次
                  }
              }
          });

          return false;
      }

      function show (meg) {
          BUI.Message.Alert(meg,function(){
              //alert('确认');
          },'info');
      }

      function myrefresh() {
          window.location.reload();
      }

  </script>

    <script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
    <script src="http://g.alicdn.com/bui/bui/1.1.21/config.js"></script>

    <script type="text/javascript">


        function p(s) {
            return s < 10 ? '0' + s: s;
        }

        BUI.use('bui/uploader',function (Uploader) {

            /**
             * 返回数据的格式
             *
             *  默认是 {url : 'url'},否则认为上传失败
             *  可以通过isSuccess 更改判定成功失败的结构
             */
            var uploader = new Uploader.Uploader({
                render: '#J_Uploader',
                url: '/admin/upload',
                //根据业务需求来判断上传是否成功
                isSuccess: function(result){
                    if(result && result.status){
                        BUI.Message.Alert("上传失败");
                       // BUI.Message.Alert("上传成功,文件已保存到目录：" + result.url);
                    }else{
                        var myDate = new Date;
                        var year = myDate.getFullYear();//获取当前年
                        var yue = myDate.getMonth()+1;//获取当前月
                        var date = myDate.getDate();//获取当前日
                        ymd = year + ''+ p(yue) + '' + p(date);

                        $(".low_source").append('<img src="'+ '/uploads/'+ ymd + '/' + result.img  +'" alt=""  class="show">');
                        $(".low_source").append('<input name="img"  type="hidden" value="' +  ymd + '/' + result.img + '"  class="hide">');
                    }
                },
            }).render();

        });

        $(".detail-row p").click(function(e) {
            $(".edit").show();
             obj = $(this);

            var text = obj.text();
            console.log(text);
            $(".text textarea").val(text);
        });

        $(".mask").click(function() {
            $(".edit").hide();
        });

        $(".text .btn button").click(function() {

            var text = $(".text textarea").val();
            var id = obj.attr('data-value');

            var name = obj.attr('data-name');


            $.ajax({
                type:'post',
                url:'/admin/article/edit',
                dataType:'json',
                data:{
                    id:obj.attr('data-value'),name:name,val:text,
                },
                async:false,
                success:function(data){
                    if(data.status){
                        show (data.info);
                    }
                }
            });

            obj.text(text);
            $(".edit").hide();
        });


        function show (meg) {
            BUI.Message.Alert(meg,function(){
                //alert('确认');
            },'info');
        }


    </script>

<body>

</html>  