<div class="foot">
    <div class="foot_box">
        <div class="foot_contact container">
            <h2 class="foot_contact_a">联系我们</h2>
            <div class="foot_contact_b">
                <form action="" id="contact_us_form">
                    <input type="email" name="email" placeholder="请输入你的邮箱">
                    <input type="text" name="message" placeholder="请输入你的留言">
                    <button type="submit">发送</button>
                </form>
            </div>
        </div>
        <div class="foot_list">
            <ul>
                <li>
                    <a href="__IMG__/enter/enter.html" target="_self">走进锐堃</a>
                    <ul>
                        <li>
                            <a href="__IMG__/enter/speech/speech.html">主席致辞</a>
                        </li>
                        <li>
                            <a href="__IMG__/enter/instroduction/instroduction.html">集团介绍</a>
                        </li>
                        <li>
                            <a href="__IMG__/enter/strategy/strategy.html">发展战略</a>
                        </li>
                        <li>
                            <a href="__IMG__/enter/innovate/innovate.html">研发创新</a>
                        </li>
                        <li>
                            <a href="__IMG__/enter/culture/culture.html">企业文化</a>
                        </li>
                        <li>
                            <a href="__IMG__/enter/contact/contact.html">联系我们</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="__IMG__/news/news.html" target="_self">新闻中心</a>
                    <ul>
                        <li>
                            <a href="__IMG__/news/news.html">锐堃动态</a>
                        </li>
                        <li>
                            <a href="__IMG__/news/news_focus/news_focus.html">新闻聚焦</a>
                        </li>
                        <li>
                            <a href="__IMG__/news/circular_economy/circular_economy.html">循环经济</a>
                        </li>
                        <li>
                            <a href="__IMG__/news/online_reading/online_reading.html">在线读报</a>
                        </li>
                        <li>
                            <a href="__IMG__/news/video_center/video_center.html">视频中心</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="__IMG__/group-industry/group-industry.html" target="_self">集团企业</a>
                    <ul>
                        <li>
                            <a href="__IMG__/group-industry/group-industry.html">网络科技</a>
                        </li>
                        <li>
                            <a href="__IMG__/group-industry/enjoy_trade/enjoy_trade.html">锐享贸易</a>
                        </li>
                        <li>
                            <a href="__IMG__/group-industry/wise_medical/wise_medical.html">智慧医疗</a>
                        </li>
                        <li>
                            <a href="__IMG__/group-industry/biotechnology/biotechnology.html">生物科技</a>
                        </li>
                        <li>
                            <a href="__IMG__/group-industry/anatase_industry/anatase_industry.html">锐族实业</a>
                        </li>
                        <li>
                            <a href="__IMG__/group-industry/high_new_agriculture/high_new_agriculture.html">高新农业</a>
                        </li>
                        <li>
                            <a href="__IMG__/group-industry/Integral_exchange/Integral_exchange.html">中国积分交易所</a>
                        </li>
                        <li>
                            <a href="__IMG__/group-industry/easy_finance/easy_finance.html">易金融</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="__IMG__/social-responsibility/social-responsibility.html" target="_self">社会责任</a>
                    <ul>
                        <li>
                            <a href="__IMG__/social-responsibility/social-responsibility.html">责任体系</a>
                        </li>
                        <li>
                            <a href="__IMG__/social-responsibility/public_welfare/public_welfare.html">社会公益</a>
                        </li>
                        <li>
                            <a href="__IMG__/social-responsibility/brilliance/brilliance.html">光彩事业</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="__IMG__/human-resources/human-resources.html" target="_self">人力资源</a>
                    <ul>
                        <li>
                            <a href="__IMG__/human-resources/human-resources.html">人才理念</a>
                        </li>
                        <li>
                            <a href="__IMG__/human-resources/talent_development/talent_development.html">人才发展</a>
                        </li>
                        <li>
                            <a href="__IMG__/human-resources/social_recruitment/social_recruitment.html">社会招聘</a>
                        </li>
                        <li>
                            <a href="__IMG__/human-resources/campus_recruitment/campus_recruitment.html">校园招聘</a>
                        </li>
                        <li>
                            <a href="__IMG__/human-resources/statement/statement.html">招聘声明</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="foot_phone">
                <div class="foot_code">
                    <img src="__IMG__/front-end-picture/foot_code.jpg" alt="" srcset="">
                </div>
                <div class="foot_logo">
                    <img src="__IMG__/front-end-picture/foot_logo.png" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
    <div class="foot_bt">
        <div class="foot_bt_box">
            <div class="foot_bt_a">
                <span>中国锐堃网站群</span>
            </div>
            <div class="foot_bt_b">
                <p>地址：中国山东省东营市垦利行政新区民丰路锐堃大厦 </p>
                <p> 版权所有：中国锐堃集团 | 备案号 鲁ICP证07500538号</p>
            </div>
        </div>
    </div>
</div>