<div class="rw_banner">
    <div class="rw_banner_a"><img src="__IMG__/backend-picture/run_banner.jpg" alt=""></div>
    <div class="rw_banner_text">
        {$title}
    </div>
</div>
<div class="run_nav">
    <ul>
        <li><a <eq name="v" value="1"> class="run_active" </eq>  href="./speech">主席致辞</a></li>
        <li><a <eq name="v" value="2"> class="run_active" </eq>  href="./instroduction">集团介绍</a></li>
        <li>
            <a <eq name="v" value="3"> class="run_active" </eq>  href="./strategy">发展战略</a>
        </li>
        <li>
            <a <eq name="v" value="4"> class="run_active" </eq>  href="./innovate">研发创新</a>
        </li>
        <li><a <eq name="v" value="5"> class="run_active" </eq> href="./culture">企业文化</a></li>
        <li><a <eq name="v" value="6"> class="run_active" </eq> href="./contact">联系我们</a></li>
    </ul>
</div>